.salir{
    border: 0;
    border-radius: 0.25rem;
    padding: 1rem;
    width: 50%;
    margin-bottom: 5%;
    background-color: rgb(86, 69, 238);
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
  }
  
  .salir:hover{
    background-color: #120a2e;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
  }

  .container {
    background:rgba(2, 60, 117, 0.5);
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    width:409px;
    display: flex;  
    flex-direction: column;
  }

  .logo{
    font-family: "museo-slab";  
    font-size:20px;
    text-align: center;
    padding: 20px 20px 0;
    margin:0;
  }